.air-form {
    margin: auto;
}

.air-form_input {
    margin-left: 180px;
    margin-top: 40px;
    width: 550px;
    height: 55px;
    font-size: 35px;
}

.air-form_btn {
    font-family: 'Libre Baskerville', serif;
    margin-left: 0;
    padding-top: 16px;
    width: 120px;
    height: 55px;
    font-weight: 600;
    background-color: blue;
    color: white;
    border-radius: 0 40px 0 0;
    outline: none;
}