* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: rgb(226, 226, 240);
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    font-size: 52px;
    margin: auto;
    margin-top: 60px;
    font-family: 'Work Sans', sans-serif;
}

.air-form {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin: auto;
}

.air-form_input {
    margin-top: 40px;
    width: 550px;
    height: 55px;
    font-size: 35px;
}

.air-form_btn {
    font-family: 'Libre Baskerville', serif;
    margin-left: 0;
    padding-top: 16px;
    width: 120px;
    height: 55px;
    font-weight: 600;
    background-color: blue;
    color: white;
    border-radius: 0 40px 0 0;
    outline: none;
}

.flight-list {
    margin: auto;
    margin-top: 50px;
    background-color: rgb(219, 215, 215);
    border-radius: 40px 40px 0 0;
}

.flight-list_btn {
    width: 500px;
    height: 45px;
    outline: none;
}

.flight-list_departures {
    border-radius: 40px 0 0 0;
}

.flight-list_departures:hover {
    background-color: rgb(90, 90, 190);
    border-radius: 20px 0 0 0;
}

.flight-list_arrivals {
    border-radius: 0 40px 0 0;
}

.flight-list_arrivals:hover {
    background-color: rgb(90, 90, 190);
    border-radius: 0 20px 0 0;
}

.flight-list_info {
    display: flex;
    list-style-type: none;
    margin-top: 70px;
}

.flight-list_info_item {
    margin-right: 65px;
}

.flight-list_info_item:nth-child(4) {
    margin-left: 40px;
}

.flight-list_info_item:nth-child(5) {
    margin-left: 60px;
}

.flight-list_info_item:nth-child(6) {
    margin-left: 50px;
}

.info-items_flight {
    display: flex;
    margin-top: 30px;
    list-style-type: none;
}

.info-items_flight:nth-child(odd) {
    background-color: rgba(123, 109, 136, 0.164);
}

.info-items_flight_item {
    margin-right: 100px;
}

.self-item {
    margin-right: 70px;
}

.self-item_2 {
    margin-right: 140px;
}

.self-item_3 {
    margin-right: 80px;
}

.info-items_flight_item:nth-child(6) {
    margin-right: 0;
}