* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: rgb(226, 226, 240);
}

body {
    display: flex;
    flex-direction: column;
}